@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import url(../css/variaveis.css);
@import url(../css/normalize.css);
@import url(../css/reset.css);

@import url(../css/componentes/vermais.css);
@import url(../css/elementos/secoes.css);
@import url(../css/elementos/cards.css);

@import url(../css/componentes/creditos.css);
@import url(../css/componentes/personagens.css);
@import url(../css/componentes/contexto.css);
@import url(../css/componentes/sobre.css);
@import url(../css/componentes/sobre-tarja.css);
@import url(../css/componentes/extras.css);
@import url(../css/componentes/rodape.css);
@import url(../css/componentes/rodape-tarja.css);
@import url(../css/componentes/recomendacao.css);

@import url(../css/componentes/cabecalho.css);
@import url(../css/componentes/episodios.css);

@import url(../css/componentes/ultimos-episodios.css);
@import url(../css/componentes/modal.css);
@import url(../css/componentes/autocomplete.css);

@font-face {
  font-family: 'CircularStd Book';
  src: url(../fonts/circular/CircularStd-Book.otf);
}

@font-face {
  font-family: 'CircularStd Light';
  src: url(../fonts/circular/CircularStd-Light.otf);
}

@font-face {
  font-family: 'CircularStd Bold';
  src: url(../fonts/circular/CircularStd-Bold.otf);
}

@font-face {
  font-family: 'CircularStd Black';
  src: url(../fonts/circular/CircularStd-Black.otf);
}

*{
  scroll-behavior: smooth;
  font-family: 'CircularStd Book', 'Inter Tight', sans-serif;
}

body{
  background-color: var(--bckg);
  color: var(--txt);
  position: relative;
}

button, a{
  cursor: pointer;
  font-family: inherit;
}

ul.no-type li{
  list-style-type: none;
}

.popover{
  --bs-popover-header-color: #000 !important;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bckg-tooltip-link) !important;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-margin: 1rem;
}

a.link-visivel{
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.botao-subir{
  position: fixed;
  background-color: var(--bckg-btn-subir);
  border: 1px solid var(--borda-btn-subir);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1.5rem;
  bottom: 1rem;
  right: 0.5rem;
}