@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import url(../css/variaveis.css);
@import url(../css/normalize.css);
@import url(../css/reset.css);

@import url(../css/componentes/vermais.css);
@import url(../css/elementos/secoes.css);
@import url(../css/elementos/cards.css);

@import url(../css/componentes/creditos.css);
@import url(../css/componentes/personagens.css);
@import url(../css/componentes/contexto.css);

@font-face {
  font-family: 'CircularStd Book';
  src: url(../fonts/circular/CircularStd-Book.otf);
}

@font-face {
  font-family: 'CircularStd Light';
  src: url(../fonts/circular/CircularStd-Light.otf);
}

@font-face {
  font-family: 'CircularStd Bold';
  src: url(../fonts/circular/CircularStd-Bold.otf);
}

@font-face {
  font-family: 'CircularStd Black';
  src: url(../fonts/circular/CircularStd-Black.otf);
}

*{
  scroll-behavior: smooth;
  font-family: 'CircularStd Book', 'Inter Tight', sans-serif;
  font-size: 16px;
}

button, a{
  cursor: pointer;
}