:root{
  --espaco-margem: 15rem;
  --espaco-padding-secao: 4rem;
  --espaco-padding-rodape-tarja: 3rem;

  --fonte-conteudo: 1.25rem;
  --titulos-h2: 2rem;
  --titulos-h3: 1.6rem;
  --titulo-h1: 3.25rem;
  --icone: 1.5rem;
}

@media screen and (max-width: 1060px) {
  :root{
    --espaco-margem: 10rem;
  }
}

@media screen and (max-width: 890px) {
  :root{
    --espaco-margem: 5rem;
  }
}

@media screen and (max-width: 767px) {
  :root{
    --titulos-h2: 1.8rem;
    --titulos-h3: 1.4rem;
    --titulo-h1: 3rem;
  }
}

@media screen and (max-width: 730px) {
  :root{
    --espaco-margem: 3rem;
  }
}

@media screen and (max-width: 600px) {
  :root{
    --espaco-margem: 1.5rem;
    --espaco-padding-rodape-tarja: 1.5rem;
  }
}

@media screen and (max-width: 540px) {
  :root{
    --espaco-margem: 1rem;
    --espaco-padding-rodape-tarja: 1rem;
  }
}

@media screen and (max-width: 412px) {
  :root{
    --fonte-conteudo: 1.25rem;
    --titulos-h2: 1.5rem;
    --titulos-h3: 1.5rem;
    --titulo-h1: 2.5rem;
  }
}