.cabecalho{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  color: var(--txt-cabecalho);
  background: url(../../img/banner-cabecalho.png) center / cover no-repeat;
  position: relative;
  text-shadow: 0px 0px 5px var(--text-shadow-cabecalho);
}

.selecao-tema{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.selecao-tema__botao{
  background-color: transparent;
  border: transparent;
  margin-right: 0.25rem;
}

.selecao-tema__botao i{
  color: var(--icone-btn-tema);
  transition: all 0.2s;
}

.selecao-tema__botao:hover i{
  background-color: var(--bckg-btn-tema);
  color: var(--icone-btn-tema-hover);
}

.selecao-tema__botao.ativo i{
  color: var(--cor-btn-tema-ativo);
}

.selecao-tema__botao.ativo:hover i{
  background-color: var(--bckg-btn-tema-ativo-hover);
  color: var(--cor-btn-tema-ativo-hover);
}

.selecao-tema__botao:last-child{
  margin-right: 0;
}

.selecao-tema__botao i{
  font-size: var(--icone);
  padding: 0.5rem;
  background-color: var(--bckg-icone-btn-tema);
  border-radius: 10px;
}

.menu{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a{
  outline: none;
}

.menu__item{
  font-size: var(--fonte-conteudo);
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  transition: background-color ease-in-out 0.2s;
}

.menu__item:hover,
a:hover .menu__item,
a:focus .menu__item{
  background-color: var(--bckg-item-menu-hover);
}

.cabecalho__principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}

.cabecalho__titulo{
  font-size: var(--titulo-h1);
  font-family: 'CircularStd Light';
}

.cabecalho__titulo:first-child{
  font-family: 'CircularStd Bold';
}

.cabecalho__descricao{
  margin-top: 2rem;
  font-family: 'CircularStd Light';
  font-size: var(--fonte-conteudo);
  max-width: 50%;
}

@media screen and (max-width: 1085px) {
  .cabecalho{
    grid-template-columns: 25% 75%;
  }

  .cabecalho__descricao{
    max-width: 60%;
  }
}

@media screen and (max-width: 785px) {
  .cabecalho{
    grid-template-columns: 30% 70%;
  }

  .cabecalho__descricao{
    max-width: 80%;
  }
}

@media screen and (max-width: 660px) {
  .cabecalho{
    grid-template-columns: 35% 65%;
  }

  .cabecalho__descricao{
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .cabecalho{
    display: flex;
    flex-direction: column-reverse;
    padding: 0 2rem;
  }

  .cabecalho__principal{
    padding: 0;
    padding-bottom: 2rem;
  }

  .menu{
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 0;
  }

  .menu ul{
    padding: 0;
    margin: 0;
  }

  .menu__item{
    margin: 0 2rem;
  }
}

@media screen and (max-width: 350px) {
  .cabecalho{
    padding: 0 1rem;
  }

  .menu__item{
    margin: 0 1rem;
  }
}