.contexto{
  /* Estilização no em: elementos/cards.css */
}

.contexto__titulo{
  /* Estilização no em: elementos/cards.css */
}

.contexto__cabecalho{
  /* Estilização no em: elementos/cards.css */
  margin-bottom: 1rem;
}

.contexto__periodo{
  position: relative;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
  border-left: 1px solid black;
}

.contexto__periodo:first-child{
  padding-top: 0;
}

.contexto__periodo:last-child{
  padding-bottom: 0;
  border-color: transparent;
}

.contexto__periodo__marcador{
  position: absolute;
  top: 0;
  left: -8px;
  width: 15px;
  height: 15px;
  display: block;
  background-color: #000;
}

.contexto__periodo__titulo{
  font-size: var(--titulos-h3);
  font-family: 'CircularStd Bold';
  margin-bottom: 0.75rem;
  line-height: 0.75;
}

.contexto__periodo__descricao{
  font-size: var(--fonte-conteudo);
  color: var(--texto-periodo-contexto);
}