/* Demais estilizações são compartilhadas com outros elementos do site no repositório de elementos (seção e card) */

.creditos .card{
  background-color: var(--bckg-card-padrao);
  border: 1px solid var(--borda-card);
  padding: 1.25rem;
  
  border-radius: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.creditos .card__cabecalho{
  /* Estilização no em: elementos/cards.css */
}

.creditos .card__marcador{
  display: block;
  width: 20px;
  height: 5px;
  background-color: var(--bckg-marcador-card-creditos);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.creditos .card__titulo{
  /* Estilização no em: elementos/cards.css */
}

.creditos .card__conteudo{
  /* Estilização no em: elementos/cards.css */
}

.creditos .card__conteudo p{
  /* Estilização no em: elementos/cards.css */
}

.creditos .card__rodape{
  margin-top: auto;
  display: initial;
}

.creditos .card__link{
  padding: 0;
  display: inline;
  outline: none;
  font-size: var(--icone);
  font-style: normal;
  display: inline-block;
  font-family: "bootstrap-icons";
  text-rendering: auto;
}

.card__link:focus,
.card__link:hover{
  color: var(--link-card-hover);
}

.creditos .contato-twitter .card__link::after{
  content: "\F5EF";
}

.creditos .contato-outro .card__link::after{
  content: "\F3EF";
}

.creditos .contato-vazio .card__link::after{
  content: "";
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bckg-tooltip-link) !important;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-margin: 1rem;
}

/* 
Media Queries nos arquivos: 
elementos/cards.css
elementos/secoes.css 
*/