.episodios{
  /* Estilização no em: elementos/secoes.css */
  display: none;
}

.episodios__cabecalho{
  /* Estilização no em: elementos/secoes.css */
}

.episodios__titulo{
  /* Estilização no em: elementos/secoes.css */
}

.episodios__busca{
  /* Estilização no em: elementos/secoes.css */
}

.episodios__busca__input{
  /* Estilização no em: elementos/secoes.css */
}

.episodios__busca__botao{
  /* Estilização no em: elementos/secoes.css */
}

.episodios__conteudo{
  /* Estilização no em: elementos/secoes.css */
}

.episodios__cards,
.ultimos-episodios__cards{
  /* Estilização no em: elementos/secoes.css */
  display: grid;
  grid-template-columns: 
  calc(25% - 0.5rem)
  calc(25% - 0.5rem)
  calc(25% - 1rem)
  calc(25% - 1rem)
  ;
  grid-gap: 1rem;
}

.episodios .card,
.ultimos-episodios .card{
  /* Estilização no em: elementos/card.css */
  display: inline;
  background-image: url(../../img/episodios-thumbs/default.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--txt-card-episodios);
  min-width: 25%;
  min-height: 10%;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: var(--fonte-conteudo);
  transition: box-shadow ease-in-out 0.2s ;
  border: none;
}

.episodios .card__cabecalho p,
.ultimos-episodios .card__cabecalho p{
  margin: 1rem;
}

.episodios .card__conteudo,
.ultimos-episodios .card__conteudo{
  background-color: var(--bckg-card-conteudo-episodios);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0.5rem;
  width: calc(100% - 1.25rem);
}

.episodios .card__titulo,
.ultimos-episodios .card__titulo{
  font-family: 'CircularStd Bold', sans-serif;
  font-size: var(--titulos-h3);
  margin-bottom: 1rem;
}

.episodios .card__conteudo p,
.ultimos-episodios .card__conteudo p{
  font-family: 'CircularStd Light', 'CircularStd Book', sans-serif;
}

.episodios div.card__rodape,
.ultimos-episodios div.card__rodape{
  margin: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.episodios .identificacao-ep,
.ultimos-episodios .identificacao-ep{
  display: flex;
  flex-direction: column;
}

.episodios .identificacao-ep__nome,
.ultimos-episodios .identificacao-ep__nome{
  text-transform: capitalize;
}

.episodios .identificacao-ep__numero,
.ultimos-episodios .identificacao-ep__numero{
  font-size: 2.5rem;
}

.episodios .card__cabecalho p,
.episodios .identificacao-ep__nome,
.episodios .identificacao-ep__numero,

.ultimos-episodios .card__cabecalho p,
.ultimos-episodios .identificacao-ep__nome,
.ultimos-episodios .identificacao-ep__numero{
  font-family: 'Inter Tight', 'Circular', sans-serif;
}

.episodios .card__cabecalho p,
.episodios .card__titulo,
.episodios .identificacao-ep__nome,
.episodios .identificacao-ep__numero,
.episodios .controle__ouvir,
.episodios .controle__saiba-mais,

.ultimos-episodios .card__cabecalho p,
.ultimos-episodios .card__titulo,
.ultimos-episodios .identificacao-ep__nome,
.ultimos-episodios .identificacao-ep__numero,
.ultimos-episodios .controle__ouvir,
.ultimos-episodios .controle__saiba-mais{
  text-shadow: 0px 0px 5px var(--text-shadow-card-episodios);
}

.episodios .controles,
.ultimos-episodios .controles{
  
}

.episodios .controle__ouvir,
.episodios .controle__saiba-mais,
.ultimos-episodios .controle__ouvir,
.ultimos-episodios .controle__saiba-mais{
  background: var(--bckg-controle-episodios);
  backdrop-filter: blur(50px);
  padding: 0.75rem;
  font-size: var(--icone);
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
  outline: none;
  text-shadow: none;
  cursor: alias;
}

.episodios .controle__ouvir:hover,
.episodios .controle__ouvir:focus,
.episodios .controle__saiba-mais:hover,
.episodios .controle__saiba-mais:focus,

.ultimos-episodios .controle__ouvir:hover,
.ultimos-episodios .controle__ouvir:focus,
.ultimos-episodios .controle__saiba-mais:hover,
.ultimos-episodios .controle__saiba-mais:focus{
  background-color: var(--bckg-controle-episodios-hover);
  color: var(--txt-controle-episodios-hover);
}

@media screen and (max-width: 1815px) {
  .episodios__cards{
    grid-template-columns: 
    calc(33.3% - 0.5rem)
    calc(33.3% - 0.5rem)
    calc(33.3% - 1rem)
    ;
  }

  .ultimos-episodios .card{
    min-width: 33.3%;
  }
}


@media screen and (max-width: 1442px) {
  .episodios__cards{
    grid-template-columns: 
    calc(50% - 0.5rem)
    calc(50% - 0.5rem)
    ;
  }

  .ultimos-episodios .card{
    min-width: 50%;
  }
}

@media screen and (max-width: 696px) {
  .episodios .card__titulo{
    margin: 0;
    padding: 0;
  }
  
  .episodios .card__conteudo p,
  .ultimos-episodios .card__conteudo p{
    display: block;
  }
}

@media screen and (max-width: 525px) {
  .episodios__cards{
    grid-template-columns: 
    calc(100%)
    ;
  }

  .ultimos-episodios .card{
    min-width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 412px) {
  .episodios .identificacao-ep,
  .ultimos-episodios .identificacao-ep{
    display: none;
  }
}