.feedback{
  background-color: #F0F0F0;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 0.25rem 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feedback i{
  font-size: 2.5rem;
  margin-top: 0.25rem;
  margin-right: 2rem;
}

.feedback.sem-resultados i{
  color: #E9271A;
}

.feedback.consulta-resultados i{
  color: #155EEA;
}

.feedback p{
  font-size: var(--fonte-conteudo);
}

.feedback p span{
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}