button[data-modal-fecha]{
  text-align: right;
  border: none;
  background-color: var(--bckg-btn-modal);
  padding: 0.65rem 0.7rem;
  border-radius: 50%;
  transition: box-shadow ease-in-out 0.2s;
  color: var(--txt-btn-modal);
}

.modal{
  color: var(--txt-modal);
}

.modal-content{
  background-color: var(--bckg-modal);
}

.modal-header,
.modal-footer{
  border: none;
}

.modal-body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  margin: 0;
}

.modal__titulo{
  font-family: var(--texto-bold);
  font-size: var(--titulos-h3);
  color: var(--txt-modal) !important;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer button{
  padding: 0.75rem 1.25rem 0.65rem 1.25rem;
  line-height: 0.75;
  border-radius: 50px;
  border: none;
  font-size: var(--fonte-conteudo);
  background-color: var(--bckg-btn-modal);
  color: var(--txt-btn-modal);
  transition: box-shadow ease-in-out 0.2s;
}

button[data-modal-fecha]:focus,
button[data-modal-fecha]:hover,
.modal-footer button:focus,
.modal-footer button:hover{
  box-shadow:  0px 0px 0px 3px var(--box-shadow-botao-modal);
  -webkit-box-shadow: 0px 0px 0px 3px var(--box-shadow-botao-modal);
  -moz-box-shadow: 0px 0px 0px 3px var(--box-shadow-botao-modal);
}

.modal-footer button[data-confirmacao-navegacao="site-oficial"]{
  color: var(--txt-btn-site-oficial);
}