/* Demais estilizações são compartilhadas com outros elementos do site no repositório de elementos (seção e card) */

.personagens .card{
  border: 1px solid var(--borda-card-personagens);
  padding: 1.25rem;
  
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  outline: none;
  transition: box-shadow ease-in-out 0.2s ;
}

.personagens .card:focus,
.personagens .card:hover,
.extras .card:focus,
.extras .card:hover{
  /* Estilização no em: elementos/cards.css */
}

.personagens .card__cabecalho,
.extras .card__cabecalho{
  /* Estilização no em: elementos/cards.css */
}

.personagens .card__marcador
.extras .card__marcador{
  /* Estilização no em: elementos/cards.css */
}

.personagens .card__marcador i{
  font-size: var(--icone);
  font-style: normal;
}

.personagens .personagens__cards .card:nth-child(odd) i::after{
  content: "\F4E1";
  display: inline-block;
  font-family: "bootstrap-icons";
  font-size: inherit;
  text-rendering: auto;
}

.personagens .personagens__cards .card:nth-child(even) i::after{
  content: "\F4DA";
  display: inline-block;
  font-family: "bootstrap-icons";
  font-size: inherit;
  text-rendering: auto;
}

.personagens .card__titulo{
  /* Estilização no em: elementos/cards.css */
}

.personagens .card__conteudo{
  /* Estilização no em: elementos/cards.css */
}

.personagens .card__conteudo p{
  /* Estilização no em: elementos/cards.css */
}

/* 
  Media Queries nos arquivos: 
    elementos/cards.css
    elementos/secoes.css 
*/