.trilha-sonora{
  padding: var(--espaco-padding-secao) var(--espaco-margem);
  position: relative;
  color: var(--txt-trilha-sonora);
}

.trilha-sonora .fundo{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--bckg-fundo-trilha-sonora);
  width: calc(100%);
  height: 200px;
}

.trilha-sonora__titulo{
  margin-bottom: 1rem;
  font-family: 'CircularStd Bold';
  font-size: var(--titulos-h2);
}

.player{
  background-color: var(--bckg-player);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  box-shadow: 0px 0px 20px var(--box-shadow-player);
  font-size: 1rem;
}

.player .reprodutor{
  display: none;
}

.player__imagem{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.player__conteudo{
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.player__titulo{
  font-size: 1.5rem;
  font-family: 'CircularStd Bold';
}

.player__autor{
  color: var(--cor-txt-autor-musica);
}

.player__informacoes{
  display: flex;
  justify-content: space-between;
}

.player__controles{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.player__controles__principal{
  display: flex;
  align-items: center;
}

.player__controles button{
  border: unset;
  background-color: unset;
  font-size: 2rem;
}

.player__controles__principal #voltar{
  color: var(--cor-icone-player);
}

.player__controles__principal #play{
  color: var(--cor-icone-destaque-player);
  font-size: 2.5rem;
  margin: 0 0.25rem;
}

.player__controles__principal #proximo{
  color: var(--cor-icone-player);
}

.player__controles #som{
  color: var(--cor-icone-destaque-player);
}

.player__controles #som:focus ~ .ajuste-som{
  display: flex;
}

.ajuste-som{
  position: absolute;
  right: 0;
  top: -0.5rem;
  background-color: var(--bckg-player);
  box-shadow: 0px 0px 20px var(--box-shadow-player);
  display: none;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0.25rem 1rem;
  border-radius: 5px;
}

.ajuste-som:hover{
  display: flex;
}

.ajuste-som__controle{
  margin: 0 0.5rem;
}

.player__reproducao,
.ajuste-som__controle{
  -webkit-appearance: none;
  background-color: var(--bckg-linha-reproducao);
  outline: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

.player__reproducao::-webkit-slider-thumb,
.ajuste-som__controle::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--bckg-botao-linha-reproducao);
}

.player__reproducao::-webkit-slider-thumb:hover,
.ajuste-som__controle::-webkit-slider-thumb:hover{
  background-color: rebeccapurple;
}

.player__reproducao::-moz-range-thumb,
.ajuste-som__controle::-moz-range-thumb{
  width: 25px;
  height: 25px;
  border-radius: 50%; 

  background: var(--bckg-range-thumb);
  cursor: pointer;
}

.trilha-sonora__playlist{
  border-left: 1px solid var(--borda-playlist);
  padding: 0 1rem;
  overflow: auto;
  white-space: nowrap;
  
  scrollbar-width: thin;
  scrollbar-color: #858585 transparent;
  max-height: 170px;
  min-width: 30%;
}

.trilha-sonora__playlist ul{
  color: var(--txt-playlist);
}

.trilha-sonora__playlist ul li button{
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  background-color: unset;
  border: unset;
  border-bottom: 1px solid var(--borda-playlist);
  color: var(--txt-playlist);
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.trilha-sonora__playlist ul li button:focus{
  color: #555;
}

.trilha-sonora__playlist ul li button:hover{
  color: #000;
}

.trilha-sonora__playlist ul li button::before{
  display: inline-block;
  font-family: "bootstrap-icons";
  font-size: inherit;
  text-rendering: auto;
  margin-right: 1rem;
}

.trilha-sonora__playlist ul li button::before{
  content: "\F4F3";
}

.trilha-sonora__playlist ul li.ativo button::before{
  content: "\F57C";
}

@media screen and (max-width: 1300px) {
  .player__imagem{
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .player__imagem{
    display: block;
  }

  .player__conteudo{
    width: max-content;
  }

  .trilha-sonora__playlist{
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .player__imagem{
    display: none;
  }

  .player__conteudo{
    width: 100%;
  }
}