:root{
  --preto: #000;
  --preto-10: rgba(0, 0, 0, 0.1);
  --preto-20: rgba(0, 0, 0, 0.2);
  --preto-50: rgba(0, 0, 0, 0.5);
  --preto-60: rgba(0, 0, 0, 0.6);
  --preto-70: rgba(0, 0, 0, 0.7);
  --branco-absoluto: #FFF;
  --branco: #F6F6F6; 
  --branco-20: rgba(255, 255, 255, 0.2);
  --branco-25: rgba(255, 255, 255, 0.25);
  --cinza-escuro: #191919;
  --cinza-forte: #3D3D3D;
  --cinza-fortissimo: #4D4D4D;
  --cinza-claro: #DDD;
  --roxo: #474BFF;
  --roxo-30: rgb(71, 75, 255, 0.3);
  --azul: #155EEA;
  --vermelho: #E93F1A;
  --verde: #32CD32;
  
  --bckg: var(--cinza-escuro);
  --txt: var(--branco);

  --txt-cabecalho: var(--branco);
  --icone-btn-tema: var(--branco-25);
  --icone-btn-tema-hover: var(--branco);
  --bckg-btn-tema: var(--cinza-forte);
  --cor-btn-tema-ativo: var(--branco);
  --bckg-btn-tema-ativo-hover: var(--branco);
  --cor-btn-tema-ativo-hover: var(--cinza-forte);
  --bckg-icone-btn-tema: var(--preto-50);
  --bckg-item-menu-hover: var(--preto-20);
  
  --input: var(--branco);
  --input-placeholder: var(--cinza-claro);
  
  --bckg-input: var(--cinza-forte);
  --bckg-btn-input: var(--branco);
  --bckg-btn-input-hover: var(--branco);
  --btn-input: var(--branco);
  
  --borda-card: var(--branco-20);
  --bckg-card-padrao: var(--preto);
  
  --link-card-hover: var(--branco);
  --bckg-tooltip-link: var(--azul);
  
  --titulo-card-personagem: var(--branco);
  --borda-card-personagens: var(--branco-20);
  --box-shadow-card-personagens: var(--branco-20);
  
  --bordas-mostrar-mais: var(--cinza-claro);
  --texto-mostrar-mais: var(--cinza-claro); 
  --texto-mostrar-mais-hover: var(--branco); 
  --bckg-texto-mostrar-mais-hover: var(--branco-20); 
  
  --bckg-sobre-descricao: var(--preto-20);
  --texto-sobre-descricao: var(--branco);
  
  --bckg-sobre-tarja: var(--preto);
  --bckg-sobre-tarja-hover: var(--branco-20);
  --txt-sobre-tarja: var(--branco);
  --btn-reddit: var(--vermelho);
  
  --txt-card-episodios: var(--branco);
  --bckg-card-conteudo-episodios: var(--preto-20);
  --text-shadow-card-episodios: var(--preto-50);
  --bckg-controle-episodios: var(--branco-25);
  --bckg-controle-episodios-hover: var(--preto-50);
  --txt-controle-episodios-hover: var(--branco);

  --btn-ultimos-episodios: var(--branco);
  --bckg-scroll: var(--cinza-forte);
  --bckg-linha-scroll: var(--branco);
  --borda-linha-scroll: var(--cinza-forte);
  
  --icon-card-video: var(--vermelho);
  --icon-card-musica: var(--azul);
  --icon-card-podcast: var(--verde);
  
  --texto-periodo-contexto: var(--branco);
  --borda-contexto-periodo: var(--branco);
  --bckg-marcador-contexto: var(--branco);
  
  --bckg-marcador-card-creditos: var(--branco);
  
  --bckg-recomendacao: var(--preto);

  --borda-rodape: var(--branco);
  --txt-rodape: var(--branco);
  
  --bckg-rodape-tarja: var(--preto);
  --bckg-link-rodape-tarja: var(--roxo);
  --box-shadow-link-rodape-tarja: var(--roxo-30);
  --borda-rodape-tarja: var(--roxo);
  --titulo-rodape-tarja: var(--branco);
  --txt-rodape-tarja: var(--branco);
}