:root{  
  --bckg: var(--cinza-escuro);
  --txt: var(--branco);

  --txt-cabecalho: var(--branco);
  --icone-btn-tema: var(--branco-25);
  --icone-btn-tema-hover: var(--branco);
  --bckg-btn-tema: var(--cinza-forte);
  --cor-btn-tema-ativo: var(--branco);
  --bckg-btn-tema-ativo-hover: var(--branco);
  --cor-btn-tema-ativo-hover: var(--cinza-forte);
  --bckg-icone-btn-tema: var(--preto-50);
  --bckg-item-menu-hover: var(--preto-20);
  
  --text-shadow-cabecalho: var(--preto-50);

  --bckg-modal: var(--preto);
  --txt-modal: var(--branco);
  --bckg-btn-modal: var(--cinza-escuro);
  --box-shadow-botao-modal: var(--branco-20);
  --txt-btn-modal: var(--branco);
  --txt-btn-site-oficial: var(--roxo);

  --bckg-btn-subir: var(--branco-20);
  --borda-btn-subir: transparent;

  --input: var(--branco);
  --input-placeholder: var(--cinza-claro);
  
  --bckg-input: var(--cinza-forte);
  --bckg-btn-input: var(--branco);
  --bckg-btn-input-hover: var(--branco);
  --btn-input: var(--branco);
  
  --borda-card: var(--branco-20);
  --bckg-card-padrao: var(--preto);
  
  --link-card-hover: var(--branco);
  --bckg-tooltip-link: var(--azul);
  
  --titulo-card-personagem: var(--branco);
  --borda-card-personagens: var(--branco-20);
  --box-shadow-card-personagens: var(--branco-20);
  
  --bordas-mostrar-mais: var(--cinza-claro);
  --texto-mostrar-mais: var(--cinza-claro); 
  --texto-mostrar-mais-hover: var(--branco); 
  --bckg-texto-mostrar-mais-hover: var(--branco-20); 
  
  --bckg-sobre-descricao: var(--preto-20);
  --texto-sobre-descricao: var(--branco);
  
  --bckg-sobre-tarja: var(--preto);
  --bckg-sobre-tarja-hover: var(--branco-20);
  --txt-sobre-tarja: var(--branco);
  --btn-reddit: var(--vermelho);
  
  --txt-card-episodios: var(--branco);
  --bckg-card-conteudo-episodios: var(--preto-20);
  --text-shadow-card-episodios: var(--preto-50);
  --bckg-controle-episodios: var(--branco-25);
  --bckg-controle-episodios-hover: var(--preto-50);
  --txt-controle-episodios-hover: var(--branco);

  --btn-ultimos-episodios: var(--branco);
  --bckg-scroll: var(--cinza-forte);
  --bckg-linha-scroll: var(--branco);
  --borda-linha-scroll: var(--cinza-forte);
  
  --icon-card-video: var(--vermelho);
  --icon-card-musica: var(--azul);
  --icon-card-podcast: var(--verde);
  
  --texto-periodo-contexto: var(--branco);
  --borda-contexto-periodo: var(--branco);
  --bckg-marcador-contexto: var(--branco);
  
  --bckg-marcador-card-creditos: var(--branco);
  
  --bckg-recomendacao: var(--preto);

  --borda-rodape: var(--branco);
  --txt-rodape: var(--branco);
  
  --bckg-feedback: var(--preto);
  --borda-feedback: var(--preto);
  --cor-feedback-sem-resultados: var(--vermelho);
  --cor-feedback-resultados: var(--azul);

  --txt-trilha-sonora: var(--preto);
  --bckg-fundo-trilha-sonora: var(--cinza-clarissimo);
  --bckg-player: var(--branco);
  --box-shadow-player: var(--preto-10);
  --cor-txt-autor-musica: var(--preto-50);
  --cor-icone-player: var(--cinza-fortissimo);
  --cor-icone-destaque-player: var(--cinza-forte);
  --bckg-linha-reproducao: var(--cinza-claro);
  --bckg-botao-linha-reproducao: var(--cinza-forte);
  --bckg-range-thumb: var(--cinza-forte);
  --borda-playlist: var(--cinza-claro);
  --txt-playlist: var(--preto-50);

  --bckg-rodape-tarja: var(--preto);
  --bckg-link-rodape-tarja: var(--roxo);
  --box-shadow-link-rodape-tarja: var(--roxo-30);
  --borda-rodape-tarja: var(--roxo);
  --titulo-rodape-tarja: var(--branco);
  --txt-rodape-tarja: var(--branco);
}